
/**
* Base Styles
**/

* {
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

::-webkit-input-placeholder {
	color: #222222;
}

::-moz-placeholder {
	color: #222222;
}

:-moz-placeholder {
	color: #222222;
}

:-ms-input-placeholder {
	color: #222222;
}

html,
body {
	margin: 0;
	padding: 0;
	height: auto ;
	font-size: 20px;
	color: #fff;
	font-family: "Rubik", sans-serif;
	font-weight: 300;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

body {
	background: #222a36;
}

body.no-scroll {
	overflow: hidden;
}

body, .hero-started:before, .section-bg {
	transition: background 0.7s cubic-bezier(0.3, 0, 0.3, 1);
	-webkit-transition: background 0.7s cubic-bezier(0.3, 0, 0.3, 1);
}

a {
	color: #222222;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
	-webkit-transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
}

a:link {
	color: #222222;
}

a:active {
	color: #b5b5b5;
}

a:visited {
	color: #555555;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

img {
	max-width: 100%;
}

input,
textarea,
button {
	font-family: "Rubik";
}

label {
	cursor: pointer;
}

.clear {
	clear: both;
}

strong {
	font-weight: 700;
}

.vertical-line {
	border-left: 1px solid #fff;
}

.row.row-custom .col-xs-12 {
	padding: 60px;
}

/* - Typography */

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400;
	font-family: "Sorts Mill Goudy";
	margin: 0;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #FFF;
	line-height: 1.3;
}

h1 {
	font-size: 49px;
}

h2 {
	font-size: 49px;
}

p {
	padding: 0;
	margin: 30px 0;
}

strong {
	font-weight: 700;
}

@media screen and (max-width: 720px) {
	h1 {
		font-size: 30px;
	}
	.h2-title-size {
		font-size: 40px;
	}
	h2 {
		font-size: 25px;
	}

}

a.lnk,
.lnk {
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	color: #222222;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
	-webkit-transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
}

a.btn,
.btn,
a.btn-link,
.btn-link,
button,
input[type="submit"] {
	padding: 0 65px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	color: #FFF;
	font-weight: 700;
	height: 60px;
	line-height: 58px;
	text-align: center;
	text-decoration: none;
	border: 1px solid #222222;
	outline: none;
	box-shadow: none;
	cursor: pointer;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
	-webkit-transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
}

a.btn span,
.btn span,
a.btn-link span,
.btn-link span,
button span {
	position: relative;
	z-index: 2;
}

button,
input[type="submit"] {
	color: #FFF;
	background: #222222;
	outline: none;
	cursor: pointer;
}

a.btn:before,
.btn:before,
a.btn-link:before,
.btn-link:before,
button:before {
	content: '';
	position: absolute;
	left: -10%;
	top: -50%;
	width: 120%;
	height: 120%;
	background: #222222;
	transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
	-webkit-transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
	transform: translate3d(0, -100%, 0) skew(-10deg, -10deg);
	-webkit-transform: translate3d(0, -100%, 0) skew(-10deg, -10deg);
}

a.btn:hover,
.ver,
a.btn-link:hover,
.btn-link:hover {
	color: #FFF;
}

a.btn:hover:before,
.btn:hover:before,
a.btn-link:hover:before,
.btn-link:hover:before {
	top: -20%;
	transform: translate3d(0, 0, 0) skew(0deg);
	-webkit-transform: translate3d(0, 0, 0) skew(0deg);
}

input[type="text"],
input[type="email"],
textarea {
	position: relative;
	padding: 0 30px;
	display: block;
	width: 100%;
	height: 70px;
	font-family: "Rubik";
	font-size: 20px;
	color: #FFF;
	resize: none;
	outline: 0;
	font-weight: 300;
	background: none;
	border: 1px solid #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
	-moz-transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
	-webkit-transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
	-o-transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
}

input:focus,
textarea:focus {
	border-color: #FFF;
	color: #FFF;
}

textarea {
	height: 260px;
	padding-top: 20px;
	padding-bottom: 20px;
	resize: none;
}

label,
legend {
	display: block;
	padding-bottom: 20px;
	font-family: "Rubik";
	font-size: 20px;
}


ul {
	list-style: disc;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 0px;
	list-style-position: inside;
}


/* - Alignment */

.align-center {
	text-align: center ;
}

.align-right {
	text-align: right ;
}

.align-left {
	text-align: left ;
}


.full-width {
	max-width: 100%;
	width: 100%;
}

.centrize {
	display: table;
	table-layout: fixed;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;
}

.vertical-center {
	display: table-cell;
	vertical-align: middle;
}

.alert-success {
	color: #FFF;
	background: transparent;
	border: none;
}


/* - Wrapper */

.container-page {
	position: relative;
	overflow: hidden;
	min-height: 50vh;
}

.wrapper, .container {
	position: relative;
}

.container {
	margin: 0 auto;
	max-width: 1170px;
}

.section {
	padding: 180px 0;
}


/* - Preloader */

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	text-align: center;
	z-index: 1000;
}

.preloader .centrize {
	height: 100vh;
}

.preloader:before {
	content: '';
	position: absolute;
	left: -10vw;
	top: -20vh;
	width: 120vw;
	height: 120vh;
	background: #181e27;
}

.preloader .spinner {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #222222;
	border-radius: 15px;
	-webkit-animation: spinner 0.75s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
	animation: spinner 0.75s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

.preloader .spinner-logo {
	position: relative;
	margin: 0 auto;
	width: 88px;
	font-size: 0;
}

.preloader .spinner-logo img {
	margin-bottom: 30px;
	max-width: 100%;
}

.preloader .spinner.spinner-line {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #222222;
	border-radius: 0;
	-webkit-animation: spinnerline 1s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
	animation: spinnerline 1s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

.preloader .spinner-dot {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: rgba(255,255,255,0.2);
	border-radius: 0;
}

.preloader.loaded:before {
	-webkit-animation: preloader 0.75s cubic-bezier(0.3, 0, 0.3, 1) forwards;
	animation: preloader 0.75s cubic-bezier(0.3, 0, 0.3, 1) forwards;
}

@-webkit-keyframes preloader {
	0% {
		-webkit-transform: translate3d(0, 0, 0) skew(-10deg, -10deg);
		transform: translate3d(0, 0, 0) skew(-10deg, -10deg);
	}
	100% {
		-webkit-transform: translate3d(0, -100%, 0) skew(0deg);
		transform: translate3d(0, -100%, 0) skew(0deg);
	}
}

@-webkit-keyframes spinner {
	0% {
		width: 15px;
	}
	50% {
		width: 50px;
	}
	100% {
		width: 15px;
	}
}

@keyframes spinner {
	0% {
		width: 15px;
	}
	50% {
		width: 50px;
	}
	100% {
		width: 15px;
	}
}

@-webkit-keyframes spinnerline {
	0% {
		width: 0;
		left: 0;
		right: auto;
	}
	50% {
		width: 100%;
		left: 0;
		right: auto;
	}
	51% {
		width: 100%;
		left: auto;
		right: 0;
	}
	100% {
		width: 0;
		left: auto;
		right: 0;
	}
}

@keyframes spinnerline {
	0% {
		width: 0;
		left: 0;
		right: auto;
	}
	50% {
		width: 100%;
		left: 0;
		right: auto;
	}
	51% {
		width: 100%;
		left: auto;
		right: 0;
	}
	100% {
		width: 0;
		left: auto;
		right: 0;
	}
}


/* - Cursor */

.cursor {
	position: fixed;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	opacity: 1;
	background: rgba(255, 255, 255, 0.25);
	border: 1px solid transparent;
	-o-transition: width 0.3s cubic-bezier(0.3, 0, 0.3, 1), height 0.3s cubic-bezier(0.3, 0, 0.3, 1), background 0.3s cubic-bezier(0.3, 0, 0.3, 1), margin 0.3s cubic-bezier(0.3, 0, 0.3, 1), opacity 0.7s cubic-bezier(0.3, 0, 0.3, 1);
	transition: width 0.3s cubic-bezier(0.3, 0, 0.3, 1), height 0.3s cubic-bezier(0.3, 0, 0.3, 1), background 0.3s cubic-bezier(0.3, 0, 0.3, 1), margin 0.3s cubic-bezier(0.3, 0, 0.3, 1), opacity 0.7s cubic-bezier(0.3, 0, 0.3, 1);
	-webkit-transition: width 0.3s cubic-bezier(0.3, 0, 0.3, 1), height 0.3s cubic-bezier(0.3, 0, 0.3, 1), background 0.3s cubic-bezier(0.3, 0, 0.3, 1), margin 0.3s cubic-bezier(0.3, 0, 0.3, 1), opacity 0.7s cubic-bezier(0.3, 0, 0.3, 1);
	z-index: 999;
	pointer-events: none;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	-khtml-border-radius: 100%;
}

.cursor.cursor-zoom {
	margin-top: -25px;
	margin-left: -25px;
	width: 80px;
	height: 80px;
	background: rgba(255, 255, 255, 0);
	border-color: rgba(255, 255, 255, 0.5);
}





/**
* Header
**/

.header {
	padding: 30px 40px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 90;
	transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
	-moz-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
	-webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
	-o-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
}

.header.opened {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	height: 100vh;
}

.header.sticky {
	position: fixed;
	top: 0;
	transform: translateZ(0) translateY(0);
	-webkit-transform: translateZ(0)  translateY(0);
}

@media screen and (max-width: 1200px) {
	.header.sticky {
		background: #181e27;
	}
}

@media screen and (min-width: 1200px) {
	.header.animate-in {
		animation: header_animate_one 0.8s cubic-bezier(0.3, 0, 0.3, 1) 0s forwards;
	}

	.header.animate-out {
		animation: header_animate_two 0.8s cubic-bezier(0.3, 0, 0.3, 1) 0s forwards;
	}

	@keyframes header_animate_one {
		0% {
			transform: translateZ(0) translateY(-100px);
		}
		100% {
			transform: translateZ(0) translateY(0px);
		}
	}

	@keyframes header_animate_two {
		0% {
			transform: translateZ(0) translateY(0px);
		}
		100% {
			transform: translateZ(0) translateY(-100px);
		}
	}
}

.header.default-sticky {
	background: #18181b;
}

.header .header__builder .row {
	justify-content: space-between;
	align-items: center;
}

.header .header__builder .row > div {
	width: auto;
}

.header .navbar {
	padding: 0;
	position: relative;
	height: 50px;
	z-index: 3;
}

.header.sticky .navbar.default:before {
	content: '';
	position: absolute;
	left: -40px;
	right: -40px;
	top: -30px;
	bottom: -30px;
	background: #181e27;
}

body.light-skin .header.sticky .navbar.default:before {
	background: #eeeeee;
}

.header .navbar:after {
	content: '';
	position: relative;
	clear: both;
	display: block;
}

.header .logo {
	position: relative;
	margin-right: 30px;
	float: left;
	width: 80px;
	font-size: 0;
}

.header .logo a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 50px;
}

.header .logo img {
	max-width: 100%;
	height: auto;
	transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
	-moz-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
	-webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
	-o-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
}

.header .dropdown-toggle::after {
	vertical-align: .155em;
}

.switcher-btn {
	margin-right: 40px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 25px;
	height: 40px;
	text-align: center;
}

.switcher-btn .sw-before, .switcher-btn .sw-after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -12px 0 0 -12px;
    width: 24px;
    height: 24px;
    line-height: 0;
}

.switcher-btn .sw-before svg, .switcher-btn .sw-after svg {
	max-width: 25px;
}

.switcher-btn .sw-before svg {
	opacity: 1;
	pointer-events: auto;
	visibility: visible;
}

.switcher-btn .sw-after svg {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.switcher-btn.active .sw-before svg {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.switcher-btn.active .sw-after svg {
	opacity: 1;
	pointer-events: auto;
	visibility: visible;
}

.menu-btn {
	margin-top: -14px;
	position: absolute;
	top: 50%;
	right: 0;
	width: 25px;
	height: 40px;
}

.menu-btn.default-menu-btn {
	display: none;
}

.header__builder .menu-btn {
	margin-top: 0px;
	margin-left: auto;
	position: relative;
	top: 0;
	display: block;
	z-index: 3;
}

.menu-btn span {
	margin-top: -7px;
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 14px;
	display: block;
}

.menu-btn span:before,
.menu-btn span:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 2px;
	background: #FFF;
	transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
	-moz-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
	-webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
	-o-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
}

.menu-btn span:after {
	top: auto;
	bottom: 0;
}

.menu-btn.no-touch {
	pointer-events: none;
}

.menu-btn.active span {
	background: transparent;
}

.menu-btn.active span:before,
.menu-btn.active span:after {
	top: 8px;
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

.menu-btn.active span:after {
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

.menu-full-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.menu-full-overlay:before {
	content: '';
	position: absolute;
	left: -10vw;
	top: -20vh;
	width: 120vw;
	height: 120vh;
	background: #181e27;
	-webkit-animation: close-menu-popup 1s cubic-bezier(0.3, 0, 0.3, 1) forwards;
	animation: close-menu-popup 1s cubic-bezier(0.3, 0, 0.3, 1) forwards;
}

.menu-full-overlay.is-open:before {
	-webkit-animation: open-menu-popup 1s cubic-bezier(0.3, 0, 0.3, 1) forwards;
	animation: open-menu-popup 1s cubic-bezier(0.3, 0, 0.3, 1) forwards;
}

.menu-full-overlay.has-scroll .menu-full-container {
	overflow: auto;
}

.menu-full-overlay.visible {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}

.menu-full-container {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	z-index: 3;
}

.menu-full-container .container {
	margin: auto;
}

.menu-full {
	position: relative;
	padding: 150px 0;
}

.menu-full ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: left;
}

.menu-full ul li {
	margin-bottom: 40px;
	opacity: 0;
	transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
	-webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
}

.menu-full ul li:last-child {
	margin-bottom: 0;
}

.menu-full ul li a {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 120px;
	line-height: 1;
	font-family: "Sorts Mill Goudy";
	color: #fff;
	text-decoration: none;
	transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
}

.menu-social-links {
	position: absolute;
	right: 50px;
	bottom: 45px;
	opacity: 0;
	z-index: 3;
	transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
	-webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
}

.is-open .menu-social-links,
.is-open .menu-full ul li {
	opacity: 1;
	transition-delay: 1s;
}

.menu-social-links a {
	margin-top: 30px;
	position: relative;
	display: block;
	line-height: 1;
	color: #fff;
	text-decoration: none;
}

.menu-social-links a i {
	font-size: 22px;
}

.menu-social-links a:hover i {
	color: #222222;
}

@-webkit-keyframes close-menu-popup {
	0% {
		-webkit-transform: translate3d(0, 0, 0) skew(-10deg, -10deg);
		transform: translate3d(0, 0, 0) skew(-10deg, -10deg);
	}
	100% {
		-webkit-transform: translate3d(0, -100%, 0) skew(0deg);
		transform: translate3d(0, -100%, 0) skew(0deg);
	}
}

@-webkit-keyframes open-menu-popup {
	0% {
		-webkit-transform: translate3d(0, -100%, 0) skew(-10deg, -10deg);
		transform: translate3d(0, -100%, 0) skew(-10deg, -10deg);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0) skew(0deg);
		transform: translate3d(0, 0, 0) skew(0deg);
	}
}

.header .logo.logo-link {
	display: block;
	max-width: 200px;
	width: auto;
}

.header .logo.logo-link a {
	display: block;
	text-decoration: none;
}

.header .logo .logotype__title {
	display: block;
	font-family: "Sorts Mill Goudy";
	font-size: 22px;
	line-height: 1;
	font-weight: 800;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #fff;
}

.header .logo .logotype__sub {
	display: block;
	font-size: 0.875rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #bdc1c7;
}

.menu-full-overlay.is-open .menu-full ul li.has-children > .position-relative i {
	transition: opacity 0.7s cubic-bezier(0.3, 0, 0.3, 1) 1s, transform 0.7s cubic-bezier(0.3, 0, 0.3, 1) 0s;
	-webkit-transition: opacity 0.7s cubic-bezier(0.3, 0, 0.3, 1) 1s, transform 0.7s cubic-bezier(0.3, 0, 0.3, 1) 0s;
}

.menu-full-overlay.is-open .menu-full ul li.has-children.opened > a i {
	transition: opacity 0.7s cubic-bezier(0.3, 0, 0.3, 1) 1s, transform 0.7s cubic-bezier(0.3, 0, 0.3, 1) 0s;
	-webkit-transition: opacity 0.7s cubic-bezier(0.3, 0, 0.3, 1) 1s, transform 0.7s cubic-bezier(0.3, 0, 0.3, 1) 0s;
}

.menu-full ul li.has-children > .position-relative i {
	margin-left: 25px;
	margin-top: -12px;
	position: absolute;
	top: 50%;
	display: inline-block;
	vertical-align: middle;
	content: "\f078";
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	font-size: 34px;
	line-height: 34px;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
	-webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
	opacity: 0;
}

.is-open .menu-full ul li.has-children > .position-relative i {
	opacity: 1;
	transition-delay: 0.5s;
}

.menu-full ul li.has-children.opened > a i {
	transform: rotate(180deg);
}


/**
* Footer
**/

.footer {
	margin: 0;
	padding: 85px 0 65px 0;
}

.footer.footer-default {
	padding: 85px 0 65px 0;
}

.footer .copyright-text {
	color: #bdc1c7;
	font-size: 18px;
	font-weight: 300;
}

.footer .copyright-text p p {
	margin: 0;
}

.footer .copyright-text a a {
	color: #fff;
	font-weight: 300;
}

.footer .copyright-text a:hover a:hover {
	color: #222222;
}

.social-links a {
	margin-top: 0;
	margin-right: 15px;
	margin-left: 0;
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 22px;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
}

.social-links a:hover {
	color: #222222;
}


/**
* Sections
**/

.section {
	position: relative;
	z-index: 2;
}


/**
* Section Titles
**/

.section.section-inner.started-heading {
	margin-top: 350px;
}

.section.section-inner.started-heading .h-titles {
    margin-top: -75px;
}

.section.section-inner {
	padding: 0;
	background: #181e27;
}


/* .section-bg {
	background: #eeeeee;
} */

.m-titles {
	position: relative;
}

.m-titles .m-category {
	margin-bottom: 50px;
	color: #bdc1c7;
	font-style: normal;
	font-weight: 300;
}

.m-titles .m-category a {
	font-weight: 700;
}

.m-titles .m-title, .h-titles .h-title {
	margin-top: 0;
	margin-bottom: 40px;
	font-family: "Sorts Mill Goudy";
	font-size: 138px;
	line-height: 1;
	color: #FFF;
	font-weight: 400;
}

.m-titles .m-subtitle, .h-titles .h-subtitle {
	position: relative;
	font-size: 22px;
	line-height: 1;
	color: #FFF;
	font-weight: 300;
	z-index: 2;
}

.m-titles .m-subtitle.red, .h-titles .h-subtitle.red {
	color: #222222;
}

.p-title {
	margin-top: 80px;
	margin-bottom: 40px;
	font-size: 40px;
	font-weight: 700;
}


/**
* Section Hero Started
**/

.section.section-started {
	padding: 0;
}

.hero-started {
	padding-top: 280px;
	position: relative;
}

.hero-started:before {
	content: '';
	position: absolute;
	left: -100%;
	bottom: -10px;
	width: 300%;
	height: 380px;
	background: #181e27;
}

.hero-started .slide {
	position: absolute;
	bottom: 120px;
	right: -139px;
	width: 749px;
	height: 918px;
}

.hero-started .slide img {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
	width: 70%;
	object-fit: cover;
	z-index: 10;
}

@media screen and (min-width: 991px) {
	.hero-started .slide img {
		top: 16%;
	}
}
	
.hero-started .content {
	position: relative;
	min-height: 670px;
}

.hero-started .titles {
	max-width: 570px;
	z-index: 3;
}

.hero-started .title {
	font-family: "Sorts Mill Goudy";
	font-size: 138px;
	line-height: 0.9;
	color: #FFF;
	font-weight: 400;
	margin: 10px 0 40px 0;
}

.hero-started .subtitle {
	font-size: 40px;
	color: #bdc1c7;
	font-weight: 300;
	text-transform: uppercase;
}

.hero-started .description {
	padding: 40px 0 40px 40px;
	margin-left: 100px;
	font-size: 22px;
	color: #bdc1c7;
	font-weight: 300;
	max-width: 350px;
	border-left: 1px solid #fff;
}

.hero-started .description p {
	margin: 0;
}

.hero-started .social-links {
	margin-top: 30px;
	line-height: 1;
}

/**
* Section Profile
**/

.profile-box p:first-child, .text p:first-child {
	margin-top: 0;
}

.profile-box p:last-child, .text p:last-child {
	margin-bottom: 0;
}

.profile-box .btn, .text + .btn {
	margin-top: 60px;
}

.numbers-item {
	margin-top: 60px;
	line-height: 1.2;
}

.numbers-item:first-child {
	margin-top: 0;
}

.numbers-item .icon {
	margin-bottom: 20px;
	font-size: 34px;
	line-height: 1;
	color: #a7a7a7;
}

.numbers-item .num {
	font-size: 20px;
	font-weight: 700;
}

.contacts-items .numbers-item .num {
	font-size: 18px;
}

.numbers-item .title {
	color: #bdc1c7;
	font-size: 18px;
}

/**
* Section Resume
**/

.cv-left {
	margin-bottom: 40px;
	float: left;
	width: 270px;
}

.cv-right {
	float: right;
	width: 270px;
}

.cv-item {
	margin-top: 40px;
}

.cv-item:first-child {
	margin-top: 0;
}

.cv-item .date, .cv-item .subname {
	font-size: 18px;
	color: #91959b;
	font-weight: 300;
}

.cv-item .name {
	font-size: 24px;
	font-weight: 700;
}

.cv-item .text {
	margin: 16px 0 0 0;
	font-size: 18px;
	color: #bdc1c7;
}


/**
* Section Projects
**/

.filter-links {
	margin: 100px 0;
	position: relative;
	z-index: 2;
	text-align: center;
}

.filter-links a {
	margin-bottom: 20px;
	margin-right: 30px;
	margin-left: 30px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	text-decoration: none;
}

.filter-links a:before {
	margin-top: -2px;
	content: '';
	position: absolute;
	right: 0;
	bottom: -10px;
	width: 0;
	max-width: 60%;
	height: 2px;
	background: #222222;
	transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
	-moz-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
	-webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
	-o-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
}

.filter-links a:hover:before, .filter-links a.active:before {
	width: 40px;
}

.filter-links a.active {
	color: #FFF;
}

.projects-item a {
	text-decoration: none;
}

.projects-items.projects-list-items {
	margin-top: -150px;
	position: relative;
}

.projects-items.projects-list-items .projects-item {
	margin-top: 150px;
}

.projects-items.projects-list-items .projects-item .image {
	float: left;
	width: 57%;
}

.projects-item .image:before,
.projects-item .image:after {
	content: '';
	position: absolute;
	left: -10px;
	top: -10px;
	width: 10px;
	height: calc(100% + 20px);
	background: #181e27;
	z-index: 2;
	pointer-events: none;
	transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
	-moz-transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
	-webkit-transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
	-o-transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
}

.projects-item .image:after {
	left: auto;
	right: -10px;
}

.projects-item .image {
	position: relative;
	line-height: 1;
	font-size: 0;
	display: block;
}

.projects-item .image .img {
	position: relative;
	display: block;
	width: 100%;
	display: block;
}

.projects-item .image .img:before,
.projects-item .image .img:after {
	content: '';
	position: absolute;
	left: -10px;
	top: -10px;
	width: calc(100% + 20px);
	height: 10px;
	background: #181e27;
	z-index: 2;
	pointer-events: none;
	transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
	-moz-transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
	-webkit-transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
	-o-transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
}

.projects-item .image .img:after {
	top: auto;
	bottom: -10px;
}

.projects-item .image img {
	width: 100%;
	height: 450px;
	object-fit: cover;
	transform: scale(1);
	-webkit-transform: scale(1);
	transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
	-moz-transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
	-webkit-transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
	-o-transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
}

.m-gallery .projects-item .image img {
	height: auto;
}

.m-gallery .projects-item {
	margin-top: 40px;
}

.projects-item .image .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(16, 30, 50, 0.5);
	opacity: 0;
	font-size: 25px;
	color: #fff;
	line-height: 1;
	-webkit-transform: scale(1);
	transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
	-webkit-transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
}

.projects-item .image .overlay:before {
	content: '\f002';
	position: absolute;
	top: 30px;
	right: 30px;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
}

.projects-items.projects-list-items .projects-item .desc {
	margin-left: 67%;
	position: relative;
	min-height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.projects-items.projects-list-items .projects-item .desc .category {
	line-height: 40px;
	color: #bdc1c7;
	font-size: 24px;
	font-weight: 300;
	display: block;
}

.projects-items.projects-list-items .projects-item .desc .name {
	margin-bottom: 30px;
	font-family: "Sorts Mill Goudy";
	font-size: 100px;
	line-height: 1;
	color: #fff;
	font-weight: 300;
	display: block;
}

.projects-item:hover .image:before,
.projects-item:hover .image:after {
	width: 20px;
}

.projects-item:hover .image .img:before,
.projects-item:hover .image .img:after {
	height: 20px;
}

.projects-item:hover .image .img img {
	transform: scale(1.02);
	-webkit-transform: scale(1.02);
}

.projects-item:hover .image .img .overlay {
	opacity: 1;
}

.projects-items.hide_category .projects-item .desc .category {
	display: none;
}

.load-more {
	margin-top: 150px;
	text-align: center;
}


/**
* Section Project Details
**/

.section.details {
	padding-bottom: 100px;
}

.project-single .p-title {
	margin-top: 0;
}

.row.m-gallery {
	margin-top: -40px;
}

.m-details {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.m-details .details-label {
	margin-right: 50px;
	margin-bottom: 30px;
	color: #bdc1c7;
	font-weight: 300;
}

.m-details .details-label strong {
	display: block;
	color: #FFF;
}

/**
* Section Navigation
**/

.m-page-navigation {
	background-color: transparent;
	border-bottom: 2px solid #1f2631;
}

.m-page-navigation, .section.section-inner.m-page-navigation {
	padding: 180px 0;
	background: transparent;
}

.m-page-navigation a {
	text-decoration: none;
}

.m-page-navigation a:hover .h-title {
	color: #222222;
}

.m-page-navigation .nav-arrow {
	margin-bottom: 30px;
	position: relative;
	display: block;
	font-size: 18px;
	line-height: 20px;
	color: #91959b;
	font-weight: 300;
	text-transform: uppercase;
}

.m-page-navigation .nav-arrow:after {
	content: '';
	margin-left: 10px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	left: 0;
	top: 0;
	width: 12px;
	height: 20px;
	background: url(../public/assets/images/arrow.svg) no-repeat;
	background-size: contain;
	opacity: 0.5;
}

.m-page-navigation .h-title {
	font-size: 100px;
	line-height: 1.1;
}

.header__builder .menu-btn {
	display: inline-block;
	vertical-align: top;
}

/**
* Responsive
**/

@media screen and (max-width: 1024px) {
	/*base*/
	.cursor {
		display: none;
	}
	.preloader:before {
		left: -25%;
		width: 150%;
	}
	.pafter, .pbefore {
		display: none;
	}
	.m-titles .m-title, .h-titles .h-title {
		font-size: 100px;
	}
	.numbers-items {
		margin: 15px 0;
	}
	.clients-items {
		margin-top: 15px;
	}
	.social-links a {
		margin-left: 10px;
		margin-right: 10px;
	}
	.footer .align-right {
		text-align: center;
	}
	.row.row-custom .col-xs-12 {
		padding: 40px;
	}
	.row.row-custom .col-md-3 {
		width: 20%;
	}
	.row.row-custom .col-md-9 {
		width: 80%;
	}

	/*header*/
	.menu-full-overlay {
		padding-top: 90px;
		padding-bottom: 90px;
	}
	.menu-full-overlay {
		height: 100vh;
	}
	.menu-full-overlay:before {
		left: -25%;
		width: 150%;
	}
	.menu-full-container {
		height: 100%;
	}
	.menu-full {
		padding: 50px 0;
	}
	.menu-full ul li.opened > ul {
		padding: 20px 0;
	}
	.menu-full ul li ul li ul {
		padding-left: 20px;
		padding-right: 20px;
	}
	.menu-full ul li ul li.opened ul {
		margin-top: 5px;
		margin-bottom: 10px;
		padding: 20px;
		background: #1d1d25;
	}
	.menu-full ul li {
		margin-bottom: 10px;
	}
	.menu-full ul li a {
    font-size: 70px;
	}
	.menu-full ul li.has-children > .position-relative i {
		font-size: 26px;
		line-height: 26px;
	}
	.menu-full ul li ul li {
		margin-bottom: 5px;
	}
	.menu-full ul li ul li a {
		padding-left: 0;
		padding-right: 0;
	}
	.menu-full ul li ul li a:before {
		display: none;
	}
	.menu-social-links {
		right: 40px;
		bottom: 40px;
		width: auto;
	}
	.menu-social-links a {
		margin-left: 7px;
		margin-right: 7px;
	}

	/*footer*/
	.footer,
	.footer__builder {
		margin: 0;
		padding: 100px 0 50px 0;
		min-height: auto;
	}
	.footer {
		padding-left: 40px;
		padding-right: 40px;
	}
	.footer .footer__builder {
		padding: 0;
	}

	/*hero started*/
	.hero-started .slide {
		right: -266px;
	}

	/*about*/
	.numbers-item .num {
		font-size: 30px;
	}
	.numbers-item .title {
		margin-left: -20px;
	}

	/*resume*/

	.cv-left {
		width: 220px;
	}
	.cv-right {
		width: 250px;
	}

	/*projects*/
	.projects-items.projects-list-items .projects-item {
		margin-top: 100px;
	}
	.projects-items.projects-list-items .projects-item .image {
		width: 45%;
	}
	.projects-items.projects-list-items .projects-item .desc {
		margin-left: 55%;
	}
	.section.section-inner.started-heading .h-titles {
		margin-top: -50px;
	}
	.section.section-inner.started-heading .h-titles .h-title {
		margin-bottom: 0;
	}

	.section.details {
		padding-bottom: 80px;
		padding-top: 40px;
	}
}

@media screen and (max-width: 920px) {
	/*hero started*/
	.hero-started {
		padding-top: 100px;
	}
	.hero-started .slide {
		margin-left: -375px;
		bottom: auto;
		top: 30px;
		right: auto;
		left: 50%;
		position: relative;
		transform: scale(0.75);
		transform-origin: top center;
	}
	.hero-started .description {
		margin-left: 113px;
	}

	.hero-started .content {
		margin-top: -150px;
		min-height: auto;
	}
	.hero-started .title {
		font-size: 120px;
	}

	/*projects*/
	.projects-items.projects-list-items .projects-item .desc .name {
		font-size: 80px;
	}
}

@media screen and (max-width: 767px) {
	html,
	body,
	p,
	input[type="text"],
	input[type="email"],
	textarea,
	label,
	legend,
	.m-titles .m-subtitle,
	.h-titles .h-subtitle,
	.hero-started .description,
	a.lnk,
	.lnk,
	a.btn,
	.btn,
	a.btn-link,
	.btn-link,
	button,
	input[type="submit"],
	.footer .copyright-text,
	.numbers-item .title,
	.cv-item .date,
	.cv-item .subname,
	.cv-item .text,
	body .select2-selection.select2-selection--single {
		font-size: 16px;
	}

	.offset {
		margin-left: 0;
	}
	p {
		margin: 20px 0;
	}
	.m-titles .m-title, .h-titles .h-title {
		font-size: 50px;
	}
	.m-titles .m-title, .h-titles .h-title {
		margin-bottom: 20px;
	}
	.row.row-custom .col-xs-12 {
		padding: 0 15px;
	}
	.section {
		padding: 80px 0;
	}
	body .vertical-line {
		border-left: none;
	}
	.row.row-custom .col-md-3 {
		width: 100%;
	}
	.row.row-custom .col-md-9 {
		width: 100%;
	}

	/*header*/
	.header {
		padding-right: 15px;
		padding-left: 15px;
	}
	.header.sticky {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.section.m-projects .container, .section.started-heading .container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.menu-full {
		text-align: center;
	}
	.menu-full ul li a {
		font-size: 34px;
	}
	.menu-full ul li ul li a {
		font-size: 20px;
	}
	.menu-full ul li.has-children > .position-relative i {
		font-size: 16px;
		line-height: 26px;
		margin-left: 10px;
	}
	.menu-social-links {
		right: 15px;
		bottom: 30px;
	}

	/*started hero*/
	.hero-started {
		padding-top: 100px;
	}
	.hero-started .slide {
		top: 0;
		transform: scale(0.5);
	}
	.hero-started .content {
		margin-top: -430px;
	}
	.hero-started .subtitle {
    font-size: 22px;
	}
	.hero-started .title {
		font-size: 60px;
	}
	.hero-started .description {
		margin-left: 35px;
	}

	/*about*/
	.numbers-items {
		margin-left: 0;
		padding-left: 0;
		text-align: left;
		border-left: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.numbers-item {
		margin-top: 0;
		padding: 0 20px 20px 0;
	}
	.numbers-item .icon {
		margin-bottom: 15px;
	}
	.numbers-item .num, .numbers-item .icon {
		font-size: 26px;
	}
	.numbers-item .title {
		margin-left: 0;
	}

	/*resume*/
	.p-title {
		margin-top: 50px;
		margin-bottom: 30px;
		font-size: 26px;
	}


	.cv-item {
		margin-top: 30px;
	}
	.cv-item .name {
		font-size: 20px;
	}
	.cv-left {
		width: auto;
		float: none;
	}
	.cv-right {
		margin-bottom: 30px;
		width: auto;
		float: none;
	}

	/*contacts*/
	input[type="text"], input[type="email"] {
		height: 52px;
	}

	/*projects*/
	.filter-links {
		margin: 30px 0 15px 0;
	}
	.filter-links a {
		margin-right: 10px;
		margin-left: 10px;
		margin-bottom: 15px;
		font-size: 16px;
	}
	.projects-items.projects-list-items {
		margin-top: -50px;
	}
	.projects-items.projects-list-items .projects-item {
		margin-top: 50px;
	}
	.projects-items.projects-list-items .projects-item .image {
		width: 100%;
		float: none;
	}
	.projects-items.projects-list-items .projects-item .desc {
		margin-left: 0;
		min-height: auto;
		padding: 30px 30px 0 30px;
		text-align: center;
	}
	.projects-items.projects-list-items .projects-item .desc .name {
		margin-bottom: 10px;
		font-size: 40px;
	}
	.projects-items.projects-list-items .projects-item .desc .category {
    line-height: 30px;
		font-size: 18px;
	}

	.projects-item .image img {
		height: 250px;
	}

	.projects-item .image .overlay:before {
		opacity: 0;
	}

	.load-more, .load-more-link {
		margin-top: 50px;
	}

	.section.section-inner.started-heading {
		margin-top: 175px;
	}
	.section.section-inner.started-heading .h-titles {
		margin-top: -25px;
	}
	.m-titles .m-category {
		margin-bottom: 30px;
	}


	/*contacts*/
	.contacts-form label {
		padding-bottom: 20px;
	}

	.error {
		color: red;
	}

	/*navigation*/
	.m-page-navigation, .section.section-inner.m-page-navigation {
		padding: 60px 0;
	}
	.section.m-page-navigation .h-title {
		font-size: 40px;
		line-height: 50px;
	}
	.m-page-navigation .nav-arrow {
		margin-bottom: 15px;
		font-size: 16px;
	}

	/*footer*/
	.footer,
	.footer__builder {
		padding: 40px 15px;
	}
	.footer .footer__builder {
		padding: 0;
	}
	.footer .social-links {
		text-align: center;
	}
	.footer .copyright-text {
		padding: 15px 0 0 0;
	}


}


/**
Light Skin
**/

body.light-skin {
	/* background: #f7f5f2; */
	background: #ffffff;
	color: #1c2528;
}

body.light-skin .vertical-line {
	border-left-color: #1c2528;
}

body.light-skin h1,
body.light-skin h2,
body.light-skin h3,
body.light-skin h4,
body.light-skin h5,
body.light-skin h6 {
	color: #1c2528;
}

body.light-skin a.btn,
body.light-skin .btn,
body.light-skin a.btn-link,
body.light-skin .btn-link,
body.light-skin button {
	color: #1c2528;
}

body.light-skin a.btn:hover,
body.light-skin .btn:hover,
body.light-skin a.btn-link:hover,
body.light-skin .btn-link:hover,
body.light-skin button:hover {
	color: #fff;
}

body.light-skin input[type="text"],
body.light-skin input[type="email"],
body.light-skin textarea {
	color: #1c2528;
	border-color: #1c2528;
}

body.light-skin input:focus,
body.light-skin textarea:focus {
	border-color: #1c2528;
	color: #1c2528;
}

body.light-skin select,
body.light-skin .custom-select {
	border-color: #91959b;
	color: #1c2528;
}

body.light-skin .alert-success {
	color: #1c2528;
}

body.light-skin .preloader:before {
	background: #ebe7e0;
}

body.light-skin .preloader .spinner {
	background: rgba(0,0,0,0.2);
}

body.light-skin .preloader .spinner.spinner-line {
	background: #1c2528;
}

body.light-skin .preloader .spinner-dot {
	background: rgba(0,0,0,0.2);
}

body.light-skin .cursor {
	background: rgba(0, 0, 0, 0.25);
}

body.light-skin .cursor.cursor-zoom {
	background: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1200px) {
	body.light-skin .header.sticky {
		background: #eeeeee;
	}
}

body.light-skin .header.default-sticky {
	background: #eeeeee;
}

body.light-skin .menu-btn span:before,
body.light-skin .menu-btn span:after {
	background: #1c2528;
}

body.light-skin .menu-full-overlay:before {
	background: #eeeeee;
}

body.light-skin .switcher-btn .sw-after svg path {
	fill: #1c2528;
}

body.light-skin .menu-full ul li a {
	color: #1c2528;
}

body.light-skin .menu-full ul li ul li a {
	color: #3c4649;
}

body.light-skin .menu-social-links a {
	color: #1c2528;
}

body.light-skin .header .logo .logotype__title {
	color: #1c2528;
}

body.light-skin .header .logo .logotype__sub {
	color: #3c4649;
}

body.light-skin .footer .copyright-text {
	color: #3c4649;
}

body.light-skin .footer .copyright-text a{
	color: #1c2528;
}

body.light-skin .social-links a {
	color: #1c2528;
}

body.light-skin .section.section-inner {
	background: #ebe7e0;
}

body.light-skin .m-page-navigation, body.light-skin .section.section-inner.m-page-navigation {
	background: #f7f5f2;
}

body.light-skin .section-bg {
	background: #eeeeee;
}

body.light-skin .m-titles .m-category {
	color: #3c4649;
}

body.light-skin .m-titles .m-title, body.light-skin .h-titles .h-title {
	color: #1c2528;
}

body.light-skin .m-titles .m-subtitle, body.light-skin .h-titles .h-subtitle {
	color: #1c2528;
}

body.light-skin .hero-started:before {
	background: #eeeeee;
}

body.light-skin .hero-started .title {
	color: #1c2528;
}

body.light-skin .hero-started .subtitle {
	color: #3c4649;
}

body.light-skin .hero-started .description {
	color: #3c4649;
	border-left-color: #1c2528;
}

body.light-skin .numbers-item .title {
	color: #3c4649;
}

body.light-skin .cv-item .date, body.light-skin .cv-item .subname {
	color: #3c4649;
}

body.light-skin .cv-item .text {
	color: #3c4649;
}

body.light-skin .filter-links a {
	color: #1c2528;
}

body.light-skin .filter-links a.active {
	color: #1c2528;
}

body.light-skin .projects-item .image:before,
body.light-skin .projects-item .image:after {
	background: #ebe7e0;
}

body.light-skin .projects-item .image .img:before,
body.light-skin .projects-item .image .img:after {
	background: #ebe7e0;
}

body.light-skin .projects-items.projects-list-items .projects-item .desc .category {
	color: #3c4649;
}

body.light-skin .projects-items.projects-list-items .projects-item .desc .name {
	color: #1c2528;
}

body.light-skin .m-details .details-label {
	color: #3c4649;
}

body.light-skin .m-details .details-label strong {
	color: #1c2528;
}

body.light-skin .m-page-navigation {
	border-bottom-color: #ebe7e0;
}

body.light-skin .m-page-navigation .nav-arrow {
	color: #3c4649;
}

body.light-skin .m-page-navigation .nav-arrow:after {
	filter: invert(1);
}

body.light-skin input[type="text"],
body.light-skin input[type="email"],
body.light-skin textarea {
	border-color: #1c2528;
}

body.light-skin input:focus,
body.light-skin textarea:focus,
body.light-skin button:focus {
	border-color: #1c2528;
}


@media only screen and (max-width: 767px) {
	body.light-skin .header {
		color: #fff;
	}
}

